<div fxLayout="column" fxLayoutAlign="start start" class="footer_header">
	<h3 i18n="@@footer_label_features" class="footer-titles features">
		Features
	</h3>
	<a
		i18n="@@footer_label_globalFundraising"
		[href]="globalHref"
		class="global"
		style="cursor: pointer"
	>
		Global Fundraising
	</a>
	<a
		i18n="@@footer_label_customBranding"
		[href]="customHref"
		class="custom"
		style="cursor: pointer"
	>
		Custom Branding
	</a>
	<a
		i18n="@@footer_label_recurringDonations"
		[href]="recurringHref"
		class="recurring"
		style="cursor: pointer"
	>
		Recurring Donations
	</a>
	<a
		i18n="@@footer_label_qrCodeAndPaymentRequest"
		[href]="donationHref"
		class="qr-code"
		style="cursor: pointer"
	>
		QR-Code & Payment Request
	</a>
</div>
