<button mat-icon-button class="close-button" (click)="onCloseClick()">
	<img src="https://res.cloudinary.com/whydonate/image/upload/v1667418126/whydonate-production/platform/svg-icons/crossBlack.svg"/>
</button>
<h3 i18n="@@account_verify_header_description">
	Please verify your account first
</h3>

<mat-dialog-content class="mat-typography">
	<!-- account form -->
	<form [formGroup]="verifyPasswordForm" autocomplete="new-password">
		<!-- Current password field -->
		<mat-form-field color="primary" appearance="outline" class="w-100">
			<mat-label i18n="@@verify_password_form_password_label"
				>Enter Password</mat-label
			>
			<input
				id="verifyInput"
				required
				matInput
				formControlName="password"
				type="password"
				#passwordField
			/>
			<button
				mat-icon-button
				type="button"
				(click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
				matSuffix
			>
				<mat-icon
					*ngIf="passwordField.type === 'password'"
					>visibility_off</mat-icon>
				<mat-icon
					*ngIf="passwordField.type === 'text'"
					>visibility</mat-icon>
			</button>
			<mat-error
				i18n="@@account_verify_password_required_error_message"
				*ngIf="verifyPasswordForm.get('password')?.hasError('required')"
			>
				Password is required
			</mat-error>
		</mat-form-field>

		<!-- Submit verify button -->
		<div>
			<div fxLayout="row" fxLayoutAlign="end center">
				<!-- Verify button (check if the form is valid then disable form else enable) -->
				<button
					mat-flat-button
					class="button-button-style"
					(click)="verifyPassword()"
					color="accent"
					[disabled]="verifyPasswordForm.disabled"
					id="verifyButton"
				>
					<span
						i18n="@@verify_password_form_save_button"
						*ngIf="!verifyPasswordForm.disabled"
						class="verify"
					>
						Verify
					</span>

					<!-- Show spinner when submitting -->
					<span>
						<mat-progress-spinner
							*ngIf="verifyPasswordForm.disabled"
							[diameter]="24"
							[mode]="'indeterminate'"
						>
						</mat-progress-spinner>
					</span>
				</button>
			</div>
		</div>
	</form>
</mat-dialog-content>
