<button mat-icon-button class="close-button" [mat-dialog-close]="false">
	<img src="https://res.cloudinary.com/whydonate/image/upload/v1667418126/whydonate-production/platform/svg-icons/crossBlack.svg"/>
</button>
<h3 i18n="@@verify_password_bank_form_model_verify_password_discription_header">
	To Change Bank Account Details, first verify it’s you
</h3>

<mat-dialog-content class="mat-typography">
	<!-- bank verify user password form -->
	<form
		[formGroup]="verifyPasswordForm"
		#verifyPasswordFormId="ngForm"
		autocomplete="new-password"
	>
		<!-- Current password field -->
		<mat-form-field color="primary" appearance="outline" class="w-100">
			<mat-label i18n="@@verify_password_bank_form_verify_password_label"
				>Enter Password</mat-label
			>
			<input
				matInput
				formControlName="password"
				type="password"
				#passwordField
				id="verifyPasswordInput"
			/>
			<button
				mat-icon-button
				type="button"
				(click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
				matSuffix
				style="position:relative ; bottom:6px"
			>
				<img 
					*ngIf="passwordField.type === 'password'"
					src="https://res.cloudinary.com/whydonate/image/upload/v1667507211/whydonate-production/platform/svg-icons/visibilityOff.svg"/>
				<img 
					*ngIf="passwordField.type === 'text'" 
					src="https://res.cloudinary.com/whydonate/image/upload/v1667417617/whydonate-production/platform/svg-icons/visibilityOn.svg"/>
			</button>
		</mat-form-field>

		<!-- Submit verify button -->
		<div>
			<div fxLayout="row" fxLayoutAlign="end center">
				<!-- Verify button (check if the form is valid then disable form else enable) -->
				<button
					mat-flat-button
					class="button-button-style"
					(click)="verifyPassword()"
					color="accent"
					[disabled]="verifyPasswordForm.disabled"
					id="verifySave"
				>
					<span
						*ngIf="!verifyPasswordForm.disabled"
						i18n="@@verify_password_form_save_button"
					>
						Verify
					</span>

					<span>
						<mat-progress-spinner
							style="padding-top: 4px"
							*ngIf="verifyPasswordForm.disabled"
							[diameter]="24"
							[mode]="'indeterminate'"
						>
						</mat-progress-spinner>
					</span>
				</button>
			</div>
		</div>
	</form>
</mat-dialog-content>
