//FOOTER CUSTOM CSS----------------------------------
.footer-background {
	background-color: #f4f6f7;
}

.minimal-footer {
	padding: 8px;
	background-color: #f4f6f7;
}

a {
	text-decoration: none;
	color: #000;
	padding-bottom: 8px;
	white-space: nowrap;
}

.flag {
	width: 24px;
	height: 24px;
}

.minimal-footer-logo {
	width: 50%;
	height: 50%;
}

.footer-titles {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.footer-no-wrap{
  white-space: nowrap;
}
//END FOOTER CUSTOM CSS----------------------------------
