<svg xmlns="http://www.w3.org/2000/svg" viewBox="14 0 470 145">
  <path fill="#d8d8d8" d="M14 37h470v8H14zm19 14h432v7H33zm171 20h90v8h-90zM99 87h300v8H99z" />
  <rect width="50.8" height="16" x="224" y="110" fill="#2e2c96" class="accent" rx="3.3" ry="3.3"
    [attr.fill]="customBranding ? customSecondaryColor : _secondaryColor" />
  <path fill="#32bf56" d="M179 0h141v8H179zm0 137h141v8H179z" class="primary"
    [attr.fill]="customBranding ? customPrimaryColor : _primarColor" />
  <path fill="#d8d8d8" d="M14 23h470v8H14z" />
</svg>
