<div fxLayout="column wrap" fxLayoutAlign="end start" ngclass.lt-sm="m-b-l">
	<span>
		<a href="">
			<img class="rating-layout" src="https://res.cloudinary.com/whydonate/image/upload/v1666173335/whydonate-production/platform/svg-icons/rating.svg" />&nbsp;
			<img class="rating-layout" src="https://res.cloudinary.com/whydonate/image/upload/v1666173335/whydonate-production/platform/svg-icons/rating.svg" />&nbsp;
			<img class="rating-layout" src="https://res.cloudinary.com/whydonate/image/upload/v1666173335/whydonate-production/platform/svg-icons/rating.svg" />&nbsp;
			<img class="rating-layout" src="https://res.cloudinary.com/whydonate/image/upload/v1666173335/whydonate-production/platform/svg-icons/rating.svg" />&nbsp;
			<img class="rating-layout" src="https://res.cloudinary.com/whydonate/image/upload/v1666173335/whydonate-production/platform/svg-icons/rating_half.svg" />&nbsp;&nbsp;&nbsp;&nbsp;
			<a i18n="@@footer_label_raitings" [href]="ratingsHref">
				4.7 / 5 &nbsp;based on 58 reviews</a
			>
		</a>
	</span>
</div>
