@use 'sass:map';
@use '../_variables/media_query_breakpoints' as mq;

/** DESCRIPTION: media-query helper provide mixin to write styles for responsiveness.
	The rules for media query like device width are pre-defined.
	
	EXAMPLE:
	FILE: layout.scss

	@use 'media-query' as mq;
	body: {
		font-size: 16px;
		@include mq.responsive-for(large-dektop) {
			font-size: 24px;
		}
	}
**/
@mixin responsive-for-only($device) {
	@if $device == phone {
		@media (max-width: mq.get-breakpoint('xs')) {
			@content;
		}
	} @else if $device == tablet {
		@media (min-width: mq.get-breakpoint('gt-xs')) and (max-width: mq.get-breakpoint('sm')) {
			@content;
		}
	} @else if $device == laptop {
		@media (min-width: mq.get-breakpoint('gt-sm')) and (max-width: mq.get-breakpoint('md')) {
			@content;
		}
	} @else if $device == desktop {
		@media (min-width: mq.get-breakpoint('gt-md')) and (max-width: mq.get-breakpoint('lg')) {
			@content;
		}
	} @else if $device == large-dektop {
		@media (min-width: mq.get-breakpoint('gt-lg')) and (max-width: mq.get-breakpoint('xl')) {
			@content;
		}
	} @else {
		@error "Device #{$device} does not exist in $DEVICE_CONFIG";
	}
}

@mixin responsive-start-after($device) {
	@if $device == phone {
		@media (min-width: mq.get-breakpoint('gt-xs')) {
			@content;
		}
	} @else if $device == tablet {
		@media (min-width: mq.get-breakpoint('gt-sm')) {
			@content;
		}
	} @else if $device == laptop {
		@media (min-width: mq.get-breakpoint('gt-lg')) {
			@content;
		}
	} @else if $device == desktop {
		@media (min-width: mq.get-breakpoint('gt-xl')) {
			@content;
		}
	} @else if $device == large-dektop {
		@error "Can not start after Device #{$device}, since #{$device} is the last device";
	} @else {
		@error "Device #{$device} does not exist in $DEVICE_CONFIG";
	}
}
@mixin responsive-end-before($device) {
	@if $device == phone {
		@error "Can not end before Device #{$device}, since #{$device} is the first device";
	} @else if $device == tablet {
		@media (max-width: mq.get-breakpoint('lt-sm')) {
			@content;
		}
	} @else if $device == laptop {
		@media (max-width: mq.get-breakpoint('lt-md')) {
			@content;
		}
	} @else if $device == desktop {
		@media (max-width: mq.get-breakpoint('lt-lg')) {
			@content;
		}
	} @else if $device == large-dektop {
		@media (max-width: mq.get-breakpoint('lt-xl')) {
			@content;
		}
	} @else {
		@error "Device #{$device} does not exist in $DEVICE_CONFIG";
	}
}
