@use 'sass:map';
@use '../_variables/color' as col;

//* theme for quill
// @import '~quill/dist/quill.core.css';
// @import '~quill/dist/quill.bubble.css';
// @import '~quill/dist/quill.snow.css';

$primary-color: map.get(col.$COLOR_CONFIG, 'primary');

// quill-editor {
// 	display: block;
// }

// ---- highlight when quill invalid ----
// .ng-invalid {
// 	border: 1px dashed red;
// }

// ---- custom fonts ----
// [quill-editor-toolbar] .ql-font span[data-label='pacifico']::before {
// 	font-family: 'Pacifico';
// }
// .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='pacifico']::before,
// .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='pacifico']::before {
// 	content: 'Pacifico';
// }
// [quill-editor-toolbar] .ql-font span[data-label='Ubuntu']::before {
// 	font-family: 'Ubuntu';
// }
// [quill-editor-toolbar] .ql-font span[data-label='Oswald']::before {
// 	font-family: 'Oswald';
// }
// [quill-editor-toolbar] .ql-font span[data-label='Lobster']::before {
// 	font-family: 'Lobster';
// }
// [quill-editor-toolbar] .ql-font span[data-label='Monospace']::before {
// 	font-family: 'Monospace';
// }

// .ql-font-pacifico {
// 	font-family: 'Pacifico';
// }
// .ql-font-ubuntu {
// 	font-family: 'Ubuntu';
// }
// .ql-font-oswald {
// 	font-family: 'Oswald';
// }
// .ql-font-lobster {
// 	font-family: 'Lobster';
// }
// .ql-font-monospace {
// 	font-family: 'Monospace';
// }

//---- Overwrite quill colors ----

// Quill editor focus color
// .ql-editor:focus {
// 	// border: 1px solid var(--theme-primary-500) !important;
// 	box-shadow: 0 0 0 0.1rem var(--theme-primary-500) !important;
// }

quill-editor .ql-toolbar,
quill-editor .ql-container {
	margin: 0 8px;
}
.quill-view-card {
	padding: 0;
	margin: 8px;
}
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow.ql-toolbar button:focus {
	color: $primary-color !important;
}
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill {
	fill: $primary-color !important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke {
	stroke: $primary-color !important;
}

app-fundraiser-about {
	.ql-container {
		.ql-editor p {
			//Below code was limiting the number of visible lines to 4 in <p> tag.
			// display: -webkit-box;
			// -webkit-line-clamp: 4;
			// -webkit-box-orient: vertical;
			// overflow: hidden;
		}
	}
}
.branding quill-view {
	.ql-container {
		font-family: var(--custom-font-family) !important;
	}
}

// TODO: below selectors target all toolbar options

// :host ::ng-deep .ql-snow.ql-toolbar button:hover,
// :host ::ng-deep .ql-snow .ql-toolbar button:hover,
// :host ::ng-deep .ql-snow.ql-toolbar button:focus,
// :host ::ng-deep .ql-snow .ql-toolbar button:focus,
// :host ::ng-deep .ql-snow.ql-toolbar button.ql-active,
// :host ::ng-deep .ql-snow .ql-toolbar button.ql-active,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label:hover,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label:hover,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label.ql-active,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label.ql-active,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item:hover,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item:hover,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
// 	color: #32bf55 !important;
// }
// :host ::ng-deep .ql-snow.ql-toolbar button:hover .ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar button:hover .ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar button:focus .ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar button:focus .ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar button.ql-active .ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar button.ql-active .ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
// 	fill: #32bf55 !important;
// }
// :host ::ng-deep .ql-snow.ql-toolbar button:hover .ql-stroke,
// :host ::ng-deep .ql-snow .ql-toolbar button:hover .ql-stroke,
// :host ::ng-deep .ql-snow.ql-toolbar button:focus .ql-stroke,
// :host ::ng-deep .ql-snow .ql-toolbar button:focus .ql-stroke,
// :host ::ng-deep .ql-snow.ql-toolbar button.ql-active .ql-stroke,
// :host ::ng-deep .ql-snow .ql-toolbar button.ql-active .ql-stroke,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
// :host ::ng-deep .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
// :host ::ng-deep .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
// :host ::ng-deep .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
// :host ::ng-deep .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
// :host ::ng-deep .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
// :host ::ng-deep .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
// :host ::ng-deep .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
// :host ::ng-deep .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
// 	stroke: #32bf55 !important;
// }
