<div
	class="h-100v"
	ngClass="p-xxl"
	ngClass.sm="p-m"
	ngClass.xs="p-s"
	fxFlex="100"
	fxLayout="row"
	fxLayout.xs="column"
	fxLayoutAlign="center start"
	fxLayoutAlign.xs="start center"
>
	<div fxFlex="40" fxLayout="column">
		<div>
			<h2 i18n="@@reset_password_resetPassword_label">Reset Password</h2>
			<p class="mat-body-2">
				We will email you a temporary link to reset your password
			</p>
		</div>

		<!--To enter new password-->
		<form [formGroup]="resetPasswordForm">
			<mat-form-field class="w-100" appearance="outline">
				<mat-label i18n="@@account_components_resetPassword_passwordLabel"
					>Password</mat-label
				>
				<!--Validators:required, min(8)-->
				<input
					required
					i18n="@@account_components_resetPassword_passwordInput"
					autocomplete="disabled"
					id="password"
					matInput
					formControlName="password"
					type="password"
					placeholder="********"
				/>
				<mat-error
					i18n="@@account_new_password_required_error_message"
					*ngIf="resetPasswordForm.controls['password'].invalid"
				>
					{{ getPasswordErrorMessage() }}
				</mat-error>
			</mat-form-field>
			<!-- formControlName="password" -->

			<!--To retype password-->
			<mat-form-field class="w-100" appearance="outline">
				<mat-label
					i18n="@@account_components_resetPassword_confirmPasswordLabel"
					>Confirm Password</mat-label
				>
				<!--Validators:required, bothPasswordsShouldMatch()-->
				<input
					required
					autocomplete="disabled"
					id="confirmPassword"
					i18n="@@inputPasswordLogin"
					matInput
					formControlName="confirmPassword"
					type="password"
					placeholder="********"
					#passwordField
				/>
				<!-- formControlName="confirmPassword" -->

				<!--type:text(visibility is on), type:password(visibility is off) -->
				<button
					mat-icon-button
					type="button"
					(click)="
						passwordField.type === 'password'
							? (passwordField.type = 'text')
							: (passwordField.type = 'password')
					"
					matSuffix
				>
					<mat-icon *ngIf="passwordField.type === 'password'"
						>visibility_off</mat-icon
					>
					<mat-icon *ngIf="passwordField.type === 'text'">visibility</mat-icon>
				</button>
			</mat-form-field>

			<div fxLayout="row" fxLayoutAlign="end center">
				<!--clicking "save" button invokes resetPasswordMethod(resetPasswordForm:any) and validates data and token expiry-->
				<button
					*ngIf="!isLoading"
					i18n="@@button_save"
					mat-flat-button
					(click)="resetPasswordMethod(resetPasswordForm)"
					color="accent"
					id="resetPasswordSaveButton"
					[disabled]="resetPasswordForm.invalid"
				>
					Save
				</button>
				<mat-spinner
					*ngIf="isLoading"
					color="accent"
					diameter="20"
					i18n="@@account_resetPassword_spinner"
				>
				</mat-spinner>
			</div>
		</form>
	</div>
</div>
