<!-- TODO: use for navigation -->
<app-branding [customSetting]="customBrandingSetting"></app-branding>

<!-- <div class="branding">
	<mat-tab-group
		[(selectedIndex)]="selectedTabIndex"
		(selectedIndexChange)="changeRouteFragment($event)"
	>
		<mat-tab label="Branding">
		</mat-tab>
		<mat-tab label="Email">
			<app-email
				[customSetting]="customEmailSetting"
				(tabValue)="setTab($event)"
			></app-email>
		</mat-tab>

		
		<mat-tab label="Receipt">
			<app-receipt></app-receipt>
		</mat-tab>
   
	</mat-tab-group>
</div>  -->
