<div ngClass="p-t-l p-r-l">
	<button mat-icon-button class="close-button" (click)="onCloseClick()">
		<img
			src="https://res.cloudinary.com/whydonate/image/upload/v1667418126/whydonate-production/platform/svg-icons/crossBlack.svg"
		/>
	</button>
</div>
<h2 mat-dialog-title i18n="@@edit_update_edit_title">Edit</h2>
<mat-dialog-content class="mat-typography">
	<div class="m-l-xs" fxLayout="row" fxLayoutAlign="start center">
		<mat-label class="mat-body-2" i18n="@@edit_update_originalLanguage_title"
			>Original Language</mat-label
		>
		<div fxLayout="row" class="p-xs">
			<img
				width="20"
				src="{{ languageIconPath + originalLocale + '.png' }}"
			/>&nbsp;
			<span>{{ allLanguages[originalLocale] }}</span>
		</div>
	</div>
	<br />
	<app-quill-editor
		[quillContent]="data.update?.content"
		(onContentChange)="changeUpdateContent($event)"
		(allTextCheck)="allCheck($event)"
	></app-quill-editor>
	<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
		<app-fundraiser-media-edit
			[fundraiserMediaList]="data.update?.mediaList"
			(onMediaChange)="changeUpdateMedia($event)"
		>
		</app-fundraiser-media-edit>
	</div>
</mat-dialog-content>
<div ngClass="m-t-m">
	<mat-dialog-actions align="end">
		<button
			mat-button
			color="accent"
			(click)="onCloseClick()"
			i18n="@@button_discard"
			id="editUpdatesFundraiserPageEditDiscardButton"
			[disabled]="!(newUpdate.content || newUpdate.imageList) || isLoading"
		>
			Discard
		</button>
		<button
			[disabled]="
				!(newUpdate.content || newUpdate.imageList) ||
				isLoading ||
				!this.allTextCheck
			"
			mat-flat-button
			color="accent"
			id="editUpdatesFundraiserPageEditSaveButton"
			(click)="saveUpdateContentAndMedia()"
		>
			<span i18n="@@button_save">Save</span>
			<mat-icon *ngIf="isLoading" class="m-l-xs">
				<mat-spinner color="accent" diameter="20" i18n="@@edit_update_spinner">
				</mat-spinner>
			</mat-icon>
		</button>
	</mat-dialog-actions>
</div>
