<div
	ngClass="p-xxl"
	ngClass.lt-md="p-l"
	fxFlex="100%"
	fxLayout="row"
	fxLayoutAlign="center center"
>
	<div
		fxFlex="100%"
		fxLayout="column"
		fxLayoutAlign="center center"
		fxLayoutGap="2%"
    ngClass="center"
	>
		<div
			fxFlex="100%"
			fxLayout="row"
			fxLayoutAlign="center center"
			fxLayoutGap="5%"
		>
			<div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
				<h2 i18n="@@sub_footer_start_fundraiser_aboutWhydonateHomeOrganization">
					About Whydonate
				</h2>
				<span
					i18n="@@sub_footer_start_fundraiser_charityFundraisingHomeBoth"
					class="mat-body-2"
				>
					Start a Fundraiser
				</span>
			</div>
		</div>

		<div
			fxFill
			fxLayout="column wrap"
			fxLayoutAlign="center center"
			ngClass="center"
		>
			<span
				i18n="@@sub_footer_start_fundraiser_whydonateOnlineFundraisingHomeBoth"
				class="mat-subheading-2"
			>
				Whydonate is the best online personal fundraising platform that connects
				good causes with donors all over the world. It is the best peer-to-peer
				fundraising platform for non-profits, individuals causes, schools,
				startups, NGO's, charities and community groups to collect donations.
			</span>
			<!-- <span class="mat-subheading-2">
				over the world. It is the best peer-to-peer fundraising platform for
				non-profits, individuals causes, schools,
			</span>
			<span class="mat-subheading-2">
				startups, NGO's, charities and community groups to collect donations.
			</span> -->
		</div>
		<app-start-fundraiser-button
			id="aboutStartButton"
		></app-start-fundraiser-button>
	</div>
</div>
