.free-sign-up-btn {
	width: 281px;
	height: 61px;
	color: #ffffff;
	margin: 22px 50px 0 0;
	padding: 13px 29px 16px;
	border-radius: 41.4px;
	background-color: #363396;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
}
