<div fxLayout="column" fxLayoutAlign="center end">
	<div
		fxLayout="row"
		fxLayout.sm="column"
		fxLayout.xs="column"
		fxLayoutAlign="center end"
		fxLayoutAlign.sm="start start"
		fxLayoutAlign.xs="start start"
		fxLayoutGap="2%"
	>
		<a i18n="@@footer_label_privacyAndCookies" [href]="privacyHref"
			>Privacy and cookies</a
		>
		<!-- <strong> | </strong> -->
		<a i18n="@@footer_label_TermsAndConditions" [href]="termsHref"
			>Terms and Conditions</a
		>
		<!-- <strong> | </strong> -->
		<a i18n="@@footer_label_copyright" [href]="copyrightHref"
			>Copyright &copy; 2020 whydonate</a
		>
		<img src="https://res.cloudinary.com/whydonate/image/upload/v1666173324/whydonate-production/platform/svg-icons/safety.svg" />
	</div>
</div>
