<div
	ngClass="p-xxl"
	ngClass.xs="p-l"
	fxFlex="100"
	fxLayout="row"
	fxLayout.xs="column"
	fxLayoutAlign="center start"
	fxLayoutAlign.xs="start center"
>
	<div fxLayout="column" fxFlex="40">
		<h2 i18n="@@forgot_password_resetPassword_label">Reset Password</h2>
		<h5 i18n="@@account_components_forgotPassword_subheading">
			We will email you a temporary link to reset your password
		</h5>
		<form [formGroup]="forgotForm">
			<mat-form-field
				class="full-width"
				appearance="outline"
				[formGroup]="forgotForm"
			>
				<mat-label i18n="@@forgot_password_email_label">Email-ID</mat-label>
				<input
					id="forgotPasswordInput"
					required
					type="email"
					i18n="@@inputEmailForgot"
					matInput
					placeholder="Email Address"
					formControlName="email"
					required
				/>
			</mat-form-field>

			<div
				fxLayout="row"
				fxLayout.xs="column-reverse"
				fxLayoutAlign="space-between"
			>
				<!-- <button i18n mat-stroked-button (click)="routeToLogin()">Login</button> -->
				<div i18n="@@account_components_forgotPassword_newToWhyDonateText">
					New to whydonate?
					<!--Clicking Register button redirects to registration component-->
					<a mat-button color="accent" (click)="routeToRegister()">
						Register
					</a>
				</div>
				<button mat-flat-button color="accent" (click)="forgotPassword()">
					<span
						*ngIf="!isLoading"
						i18n="@@account_components_forgotPassword_resendLink"
						id="forgotPasswordResend"
						>Resend Link</span
					>

					<mat-spinner
						*ngIf="isLoading"
						color="primary"
						diameter="20"
						i18n="@@account_forgotPassword_spinner"
					>
					</mat-spinner>
				</button>
			</div>
		</form>
	</div>
</div>
