<div
	class="pale-grey-bg"
	ngClass="p-xxl"
	ngClass.lt-md="p-l"
	fxFlex="100"
	fxLayout="column"
	fxLayout.lt-sm="row wrap"
	fxLayoutAlign="center center"
	fxLayoutGap="2%"
>
	<!--HEADING ROW-->
	<div
		fxFlex="100"
		fxLayout="row"
		fxLayoutAlign="center center"
		ngClass="center"
	>
		<div
			fxFlex="100"
			fxLayout="column"
			fxLayoutAlign="center center"
			ngClass="m-b-xl"
			ngClass.sm="m-b-m"
			ngClass.xs="m-b-s"
		>
			<h2 i18n="@@features-why_fundraisingFeaturesHomeBoth">
				Fundraising Platform Features
			</h2>
			<span i18n="@@features-why_WhydonateIsBestHomeBoth" class="mat-body-2">
				Why is Whydonate the Best Fundraising Platform?
			</span>
		</div>
	</div>
	<!--END HEADING ROW-->

	<!--FIRST ROW OF FEATURES-->
	<div
		fxFlex="100%"
		fxLayout="row"
		fxLayout.xs="column"
		fxLayoutAlign="space-around start"
		fxLayoutGap="5%"
		fxLayoutGap.xs="3%"
	>
		<!--FIRST COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column">
					<img
						height="40"
						width="40"
						id="0% Platform Image"
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173334/whydonate-production/platform/svg-icons/platform_fee.svg"
					/>
				</div>
				<div fxLayout="column">
					<p
						id="0% Platform Heading"
						i18n="@@features-why_noPlatformFeeHomeBothSide"
						class="mat-title"
					>
						0% Platform Fee
					</p>
					<p
						id="0% Platform title"
						i18n="@@features-why_whydonateNoSubscriptionCostHome"
					>
						Whydonate charges 0% platform costs and no subscription costs. There
						are only standard costs for payment processing of Credit cards,
						PayPal, iDeal, Bancontact etc.
					</p>
				</div>
			</div>
		</div>
		<!--END FIRST COLUMN-->
		<!--SECOND COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column wrap" ngClass.lt-sm="m-t-l">
					<img
						id="Customer Support Image"
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173346/whydonate-production/platform/svg-icons/cust_support.svg"
					/>
				</div>
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<p
						id="Customer Support Heading"
						i18n="@@features-why_customerSupportHome"
						class="mat-title"
					>
						Customer Support
					</p>
					<p
						id="Customer Support Image"
						i18n="@@features-why_customerSupportAlwaysHome"
					>
						Facing a problem? Our customer support team is always ready to help,
						every step of the way.
					</p>
				</div>
			</div>
		</div>
		<!--END SECOND COLUMN-->
		<!--SECOND COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<img
						height="40"
						width="40"
						id="Responsive Design Image"
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173325/whydonate-production/platform/svg-icons/responsive.svg"
					/>
				</div>
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<p
						id="Responsive Design Heading"
						i18n="@@features-why_responsiveDesignHome"
						class="mat-title"
					>
						Responsive design
					</p>
					<p
						id="Responsive Design title"
						i18n="@@features-why_pagesOptimizedHome"
					>
						The pages are optimized to provide an optimum look on all devices,
						such as desktop, tablet or mobile.
					</p>
				</div>
			</div>
		</div>
		<!--END SECOND COLUMN-->
	</div>
	<!--END FIRST ROW OF FEATURES-->

	<!--SECOND ROW OF FEATURES-->
	<div
		fxFlex="100%"
		fxLayout="row"
		fxLayout.xs="column"
		fxLayoutAlign="space-around start"
		fxLayoutGap="5%"
		fxLayoutGap.xs="3%"
	>
		<!--FIRST COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<img
						id="Dashboard Image"
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173346/whydonate-production/platform/svg-icons/dashboard.svg"
					/>
				</div>
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<p
						id="Dashboard Heading"
						i18n="@@features-why_dashboardHeadTagHome"
						class="mat-title"
					>
						Dashboard
					</p>
					<p
						id="Dashboard title"
						i18n="@@features_why_comprehensiveDashboardHome"
					>
						The comprehensive dashboard provides a one-stop view of all your
						fundraisers, donor and payout data.
					</p>
				</div>
			</div>
		</div>
		<!--END FIRST COLUMN-->
		<!--SECOND COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<img
						height="40"
						width="40"
						id="Network Image"
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173334/whydonate-production/platform/svg-icons/network.svg"
					/>
				</div>
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<p
						id="Network Heading"
						i18n="@@features-why_networkHeadTagHome"
						class="mat-title"
					>
						Network
					</p>
					<p id="Network title" i18n="@@features_why_additionToYourNetworkHome">
						In addition to your own network, reach 175,000+ donors and 100,000+
						visitors a month on Whydonate.
					</p>
				</div>
			</div>
		</div>
		<!--END SECOND COLUMN-->
		<!--SECOND COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<img
						id="Live within minutes Image"
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173330/whydonate-production/platform/svg-icons/live.svg"
					/>
				</div>
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<p
						id="Live within minutes Heading"
						i18n="@@features_why_liveWithinMinutesHome"
						class="mat-title"
					>
						Live within minutes
					</p>
					<p
						id="Live within minutes title"
						i18n="@@features_why_createAndStartOnlineHome"
					>
						Create an account and start online fundraising within minutes.
					</p>
				</div>
			</div>
		</div>
		<!--END SECOND COLUMN-->
	</div>
	<!--END SECOND ROW OF FEATURES-->

	<!--THIRD ROW OF FEATURES-->
	<div
		fxFlex="100%"
		fxLayout="row"
		fxLayout.xs="column"
		fxLayoutAlign="space-around start"
		fxLayoutGap="5%"
		fxLayoutGap.xs="3%"
	>
		<!--FIRST COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column" ngClass.lt-sm="m-t-m">
					<img
						id="Direct Payouts (Coming Soon) Image"
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173347/whydonate-production/platform/svg-icons/direct.svg"
					/>
				</div>
				<div fxLayout="column" ngClass.lt-sm="m-t-m">
					<p
						id="Direct Payouts (Coming Soon) Heading"
						i18n="@@features_why_directPayoutsComingSoonHome"
						class="mat-title"
					>
						Direct Payouts (Coming Soon)
					</p>
					<p
						id="Direct Payouts (Coming Soon) title"
						i18n="@@features_why_requestImmediatePayoutHome"
					>
						Request an immediate payout of the donations, or wait for the
						automated monthly payout. Whydonate pays out donations to all
						European SEPA countries.
					</p>
				</div>
			</div>
		</div>
		<!--END FIRST COLUMN-->
		<!--SECOND COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<img
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173345/whydonate-production/platform/svg-icons/custom.svg"
					/>
				</div>
				<div fxLayout="column" ngClass.lt-sm="m-t-l">
					<p i18n="@@features_why_customBrandingHome" class="mat-title">
						Custom Branding
					</p>
					<p i18n="@@feadture_why_addOwnCustomBrandingHome">
						Add your own custom branding and content to fundraisers, donation
						forms and emails.
					</p>
				</div>
			</div>
		</div>
		<!--END SECOND COLUMN-->
		<!--SECOND COLUMN-->
		<div fxFlex="33%" fxLayout="column">
			<div fxFlex="100%" fxLayout="row" fxLayoutGap="5%">
				<div fxLayout="column" ngClass.lt-sm="m-t-xs">
					<img
						src="https://res.cloudinary.com/whydonate/image/upload/v1666173327/whydonate-production/platform/svg-icons/security_front.svg"
					/>
				</div>
				<div fxLayout="column" ngClass.lt-sm="m-t-xs">
					<p i18n="@@features_why_securityHeadTagHome" class="mat-title">
						Security
					</p>
					<p i18n="@@features_why_donationsAndDataSecureHome">
						Whydonate makes sure your donations and data are secure. The data is
						stored encrypted, and all payments are secured by licensed payment
						institutions.
					</p>
				</div>
			</div>
		</div>
		<!--END SECOND COLUMN-->
	</div>
	<!--END THIRD ROW OF FEATURES-->
</div>
