<button mat-icon-button class="close-button" (click)="onCloseClick()">
	<img src="https://res.cloudinary.com/whydonate/image/upload/v1667418126/whydonate-production/platform/svg-icons/crossBlack.svg"/>
</button>
<div ngClass="p-xl">
	<div fxLayout="row" fxLayoutAlign="center center">
		<img src="https://res.cloudinary.com/whydonate/image/upload/v1689795483/whydonate-production/platform/svg-icons/action-confirm-redundant.svg" />
	</div>
	<div fxLayoutAlign="center center" fxLayout="row">
		<h1 mat-dialog-title><b>Email verified successfully!</b></h1>
	</div>
</div>
