<div
	fxLayout="column"
	fxLayoutAlign="start start"
	class="footer_header"
	ngClass.lt-sm="m-t-m"
>
	<h3 i18n="@@footer_label_products" class="footer-titles product">Product</h3>
	<a
		i18n="@@footer_label_whydonatePlatform"
		[href]="crowdFundingHref"
		class="platform"
		style="cursor: pointer"
		>Whydonate Platform
	</a>
	<a
		i18n="@@footer_label_donateButtonPlugin"
		[href]="donationButtonHref"
		class="donate"
		style="cursor: pointer"
	>
		Donate Button Plugin
	</a>
	<!-- <a
		i18n="@@footer_label_digitalPinBox"
		[href]="digitalCollectionHref"
		class="digital"
		style="cursor: pointer"
	>
		Digital Pin Box
	</a> -->
</div>
