<div fxLayout="column" fxLayoutAlign="start start">
	<h3 i18n="@@footer_label_fundraiserFor" class="footer-titles fundraiser">
		Fundraiser For
	</h3>
	<a
		i18n="@@footer_label_medicalFundraising"
		[href]="medicalHref"
		class="fundraising-medical"
		style="cursor: pointer"
		>Medical Fundraising</a
	>
	<a
		i18n="@@footer_label_fundraisingEducation"
		[href]="fundraisingForHref"
		class="fundraising-education"
		style="cursor: pointer"
		>Fundraising Education</a
	>
	<a
		i18n="@@footer_label_sportsFundraising"
		[href]="sportsHref"
		class="fundraising-sports"
		style="cursor: pointer"
		>Sports Fundraising</a
	>
	<a
		i18n="@@footer_label_crowdfundingMusic"
		[href]="musicHref"
		class="crowdfunding-music"
		style="cursor: pointer"
		>Crowdfunding Music</a
	>
	<a
		i18n="@@footer_label_crowdfundingCharity"
		[href]="crowdfundingCharityHref"
		class="crowdfunding-charity"
		style="cursor: pointer"
		>Crowdfunding Charity</a
	>
	<a
		i18n="@@footer_label_fundraisingForFuneral"
		[href]="funeralHref"
		class="fundraising-funeral"
		style="cursor: pointer"
		>Fundraising for Funeral</a
	>
	<a
		i18n="@@footer_label_fundraisingNonProfits"
		[href]="nonProfitsHref"
		class="fundraising-non-profits"
		style="cursor: pointer"
		>Fundraising Non-Profits</a
	>
	<a
		i18n="@@footer_label_personalFundraising"
		[href]="personalFundraisingHref"
		class="fundraising-personal"
		style="cursor: pointer"
		>Personal Fundraising</a
	>
	<a
		i18n="@@footer_label_corporateGiving"
		[href]="corporateGivingHref"
		class="corporate"
		style="cursor: pointer"
		>Corporate Giving</a
	>
</div>
