<!-- <div
	ngClass="p-xxl"
	ngClass.lt-md="p-l"
	fxFlex="100%"
	fxLayout="row"
	fxLayoutAlign="space-around center"
	fxLayout.xs="column"
	fxLayoutGap="5%"
>
	<div fxFlex="60%" fxLayout="column" fxLayoutAlign="center center">
		<img
			src="https://res.cloudinary.com/whydonate/image/upload/dpr_auto,f_auto,q_auto/whydonate-production/platform/visuals/PIN-donation-box"
			width="100%"
		/>
	</div>
	<div fxFlex="100%" fxLayout="column" fxLayoutAlign="center start">
		<h3 i18n="@@digital_collection_box_contactLessPinDonationHomeOrganization">
			Contactless PIN Donation Box
		</h3>
		<p i18n="@@digital_collection_box_contactLessDonationBoxHomeOrganization">
			The Whydonate contactless PIN donation box enables on-the-go charity
			fundraising. Tab the device with a debit or credit card to make donation.
		</p>
		<a
			mat-button
			color="accent"
			(click)="routeTocollectionLearnMore()"
			id="digitalLearnMore"
		>
			<span i18n="@@button_learnMore">Learn More</span>
			<img
				src="https://res.cloudinary.com/whydonate/image/upload/v1667501400/whydonate-production/platform/svg-icons/arrowRightAccent.svg"
			/>
		</a>
	</div>
</div> -->
