<div
	fxLayout="row"
	fxFlex="100%"
	fxLayoutAlign="center center"
	ngClass="p-xxl"
	ngClass.sm="p-m"
	ngClass.xs="p-m"
	class="branding"
>
	<div
		fxLayout="column"
		fxFlex.xs="80%"
		fxFlex.sm="60%"
		fxFlex.md="55%"
		fxFlex.lg="40%"
		fxLayoutAlign="center center"
		class="mat-typography"
	>
		<div
			fxLayout="row"
			fxFill
			fxLayoutAlign="center center"
			class="donateGreyBackground"
			ngClass="p-xxl"
			ngClass.sm="p-m"
			ngClass.xs="p-m"
		>
			<div
				fxLayout="column"
				fxFill
				fxLayoutAlign="center center"
				fxLayoutGap="5%"
			>
				<div fxLayout="row" fxLayoutAlign="center center">
					<div fxLayout="column" fxLayoutAlign="center center">
						<img src="https://res.cloudinary.com/whydonate/image/upload/v1667507211/whydonate-production/platform/svg-icons/visibilityOff.svg"/>	
						<h2 i18n="@@account_deactivatedAccount_label">
							Your Account has been deactivated.
						</h2>
						<label i18n="@@account_deactivatedAccount_label_subtitle">
							Kindly contact customer service for re-activation.
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
