<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5%">
	<img
		src="https://res.cloudinary.com/whydonate/image/upload/dpr_auto,q_auto/whydonate-staging/platform/visuals/new_design_logo.svg"
	/>

	<h3 i18n="@@footer_label_selectLanguage" class="footer-titles">
		Select Language
	</h3>

	<app-language-chooser></app-language-chooser>

	<h3 i18n="@@footer_label_followUs" class="footer-titles">Follow us</h3>
	<div
		fxFlex="100"
		fxLayout="row"
		fxLayoutAlign="space-between"
		fxLayoutGap="5%"
	>
		<a
			target="_blank"
			class="insta"
			href="https://www.instagram.com/whydonatenl/"
		>
			<img
				src="https://res.cloudinary.com/whydonate/image/upload/v1666173343/whydonate-production/platform/svg-icons/insta.svg"
			/>
		</a>
		<a target="_blank" class="twitter" href="https://twitter.com/whydonate">
			<img
				src="https://res.cloudinary.com/whydonate/image/upload/v1698663566/whydonate-production/platform/svg-icons/x.svg"
			/>
		</a>
		<a
			target="_blank"
			class="linkedIn"
			href="https://www.linkedin.com/company/whydonate"
		>
			<img
				src="https://res.cloudinary.com/whydonate/image/upload/v1666173331/whydonate-production/platform/svg-icons/linkedin.svg"
			/>
		</a>
		<a
			target="_blank"
			class="facebook"
			href="https://www.facebook.com/whydonate"
		>
			<img
				src="https://res.cloudinary.com/whydonate/image/upload/v1666173337/whydonate-production/platform/svg-icons/fb.svg"
			/>
		</a>
	</div>
</div>
