// by chaitanya

#uploadLogoStyle {
	display: none;
}

img {
	width: 100px;
	height: 100px;
	// border-radius: 125px;
	-webkit-border-radius: 125px;
}

.pointer {
	cursor: pointer;
}
.image-preview
{
  max-width: 75vh;
}
