<div ngClass="p-t-l p-r-l">
	<button mat-icon-button class="close-button" (click)="onCloseClick()">
		<img
			src="https://res.cloudinary.com/whydonate/image/upload/v1667418126/whydonate-production/platform/svg-icons/crossBlack.svg"
		/>
	</button>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
	<h2 mat-dialog-title i18n="@@editFundraiserLocation_title">
		Edit fundraiser location
	</h2>
	<mat-icon *ngIf="isLoading">
		<mat-spinner color="accent" diameter="20"></mat-spinner>
	</mat-icon>
</div>
<mat-dialog-content>
	<form [formGroup]="locationForm">
		<!--LOCATION-->
		<mat-form-field class="w-100" appearance="outline">
			<mat-label i18n="@@editFundraiserLocation_locationName_title">
				Location name
			</mat-label>
			<input
				i18n="@@editFundraiserLocation_locationName_input"
				#locationRef
				matInput
				id="fundraiserLocationInput"
				formControlName="locationControl"
				[matAutocomplete]="locationAuto"
			/>
			<!-- <img matSuffix src="https://res.cloudinary.com/whydonate/image/upload/v1667418121/whydonate-production/platform/svg-icons/arrowDropDown.svg"/> -->
			<mat-autocomplete #locationAuto="matAutocomplete" (closed)="setPlaceId()">
				<mat-option
					*ngFor="let location of locations"
					[value]="location.description"
				>
					{{ location.description }}
				</mat-option>
			</mat-autocomplete>
			<mat-error
				*ngIf="
					locationForm.controls['locationControl'].errors &&
					locationForm.controls['locationControl'].errors['location']
				"
				>Invalid Location</mat-error
			>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		[disabled]="!locationForm.dirty || locationForm.invalid || isSave"
		mat-flat-button
		color="accent"
		id="fundraiserLocationSaveButton"
		(click)="dialogClose()"
	>
		<span i18n="@@button_save">Save</span>
		<mat-icon *ngIf="isSave" class="m-l-xs">
			<mat-spinner
				color="accent"
				diameter="20"
				i18n="@@editFundraiserLocation_spinner"
			>
			</mat-spinner>
		</mat-icon>
	</button>
</mat-dialog-actions>
