<button mat-icon-button class="close-button" (click)="onCloseClick()">
	<img src="https://res.cloudinary.com/whydonate/image/upload/v1667418126/whydonate-production/platform/svg-icons/crossBlack.svg"/>
</button>
<h3 i18n="@@reset_password_resetPassword_labell">Reset Password</h3>

<mat-dialog-content class="mat-typography">
	<!-- Reset password form -->
	<form [formGroup]="resetPasswordForm">
		<!-- Current password field -->
		<mat-form-field color="primary" appearance="outline" class="w-100">
			<mat-label i18n="@@reset_password_reset_current_password_label"
				>Enter Current Password</mat-label
			>
			<input
				required
				id="cruntPassword"
				matInput
				formControlName="currentPassword"
				type="password"
				#currentPassword
			/>
			<button
				mat-icon-button
				type="button"
				(click)="currentPassword.type === 'password' ? currentPassword.type = 'text' : currentPassword.type = 'password'"
				matSuffix
				style="position:relative ; bottom:6px"
			>
				<img 
					*ngIf="currentPassword.type === 'password'"
					src="https://res.cloudinary.com/whydonate/image/upload/v1667507211/whydonate-production/platform/svg-icons/visibilityOff.svg"/>
				<img 
					*ngIf="currentPassword.type === 'text'"
					src="https://res.cloudinary.com/whydonate/image/upload/v1667417617/whydonate-production/platform/svg-icons/visibilityOn.svg"/>
			</button>
			<mat-error
				i18n="@@account_current_password_required_error_message"
				*ngIf="resetPasswordForm.get('currentPassword')?.hasError('required')"
			>
				Current Password is required
			</mat-error>
		</mat-form-field>

		<!-- New password field -->
		<mat-form-field color="primary" appearance="outline" class="w-100">
			<mat-label i18n="@@reset_password_reset_password_label"
				>Enter New Password</mat-label
			>
			<input
				required
				class="newPassword"
				matInput
				formControlName="password"
				type="password"
				#resetPassword
			/>
			<button
				mat-icon-button
				type="button"
				(click)="resetPassword.type === 'password' ? resetPassword.type = 'text' : resetPassword.type = 'password'"
				matSuffix
				style="position:relative ; bottom:6px"
			>
				<img 
					*ngIf="resetPassword.type === 'password'"
					src="https://res.cloudinary.com/whydonate/image/upload/v1667507211/whydonate-production/platform/svg-icons/visibilityOff.svg"/>
				<img 
					*ngIf="resetPassword.type === 'text'"
					src="https://res.cloudinary.com/whydonate/image/upload/v1667417617/whydonate-production/platform/svg-icons/visibilityOn.svg"/>
			</button>
			<mat-error
				i18n="@@account_new_password_required_error_message"
				*ngIf="resetPasswordForm.controls['password'].invalid"
			>
				{{getPasswordErrorMessage()}}
			</mat-error>
		</mat-form-field>

		<!-- Confirm new password field -->
		<mat-form-field color="primary" appearance="outline" class="w-100">
			<mat-label i18n="@@reset_password_reset_password_confim_label"
				>Confirm New Password</mat-label
			>
			<input
				required
				class="retypePassword"
				matInput
				formControlName="confirm_password"
				type="password"
				#newPassword
			/>
			<button
				mat-icon-button
				type="button"
				(click)="newPassword.type === 'password' ? newPassword.type = 'text' : newPassword.type = 'password'"
				matSuffix
				style="position:relative ; bottom:6px"
			>
				<img 
					*ngIf="newPassword.type === 'password'"
					src="https://res.cloudinary.com/whydonate/image/upload/v1667507211/whydonate-production/platform/svg-icons/visibilityOff.svg"/>
				<img 
					*ngIf="newPassword.type === 'text'"
					src="https://res.cloudinary.com/whydonate/image/upload/v1667417617/whydonate-production/platform/svg-icons/visibilityOn.svg"/>

			</button>
			<mat-error
				i18n="@@account_password_not_match_error_message"
				*ngIf="resetPasswordForm.controls && resetPasswordForm.controls['confirm_password'].errors"
			>
				Password do not match.
			</mat-error>
		</mat-form-field>
	</form>

	<!-- Submit verify button -->
	<div>
		<div fxLayout="row" fxLayoutAlign="end center">
			<!-- Verify button (check if the form is valid then disable form else enable) -->
			<button
				mat-flat-button
				class="button-button-style"
				(click)="updatePassword()"
				color="accent"
				[disabled]="resetPasswordForm.invalid"
				id="resetSaveButton"
			>
				<span
					class="save"
					*ngIf="!resetPasswordForm.disabled"
					i18n="@@button_save"
				>
					Save
				</span>

				<mat-progress-spinner
					*ngIf="resetPasswordForm.disabled"
					[diameter]="24"
					[mode]="'indeterminate'"
				>
				</mat-progress-spinner>
			</button>
		</div>
	</div>
</mat-dialog-content>
