<div fxLayout="column">
	<div
		fxLayout="row"
		fxLayout.lt-md="row wrap"
		fxLayoutAlign="start center"
		ngClass="p-l-l p-r-l"
		ngClass.lt-sm="p-xxs"
		fxLayoutGap="2%"
	>
		<div fxLayout="row" fxFlex.lt-md="100">
			<mat-form-field
				fxFlex.lt-md="100"
				[formGroup]="searchInputForm"
				appearance="outline"
				color="primary"
			>
				<mat-label i18n="@@received_donation_whydonateControlLabel_search"
					>search</mat-label
				>
				<input
					id="receivedSearch"
					formControlName="searchCtrl"
					matInput
					type="search"
					placeholder="{{ searchPlace }}"
					#input
				/>
				<img
					matSuffix
					height="22px"
					src="https://res.cloudinary.com/whydonate/image/upload/v1667505139/whydonate-production/platform/svg-icons/searchGrey.svg"
				/>
			</mat-form-field>
		</div>
		<div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between baseline">
			<mat-form-field appearance="outline" color="primary" fxFlex.xs="60%">
				<mat-label i18n="@@received_donation_whydonateControlLabel_dateRange"
					>Enter a date range</mat-label
				>
				<mat-date-range-input
					class="dateRange"
					[formGroup]="range"
					[rangePicker]="picker"
					[max]="this.maxDate"
				>
					<input
						id="startDate"
						matStartDate
						formControlName="start"
						placeholder="{{ startDatePlace }}"
					/>
					<input
						id="endDate"
						matEndDate
						formControlName="end"
						placeholder="{{ endDatePlace }}"
					/>
				</mat-date-range-input>
				<mat-datepicker-toggle
					matSuffix
					[for]="picker"
					class="toggle"
				></mat-datepicker-toggle>
				<mat-date-range-picker #picker>
					<mat-date-range-picker-actions>
						<button
							mat-button
							matDateRangePickerCancel
							(click)="clearDateRange()"
						>
							Clear
						</button>
						<button
							class="apply"
							mat-raised-button
							color="primary"
							matDateRangePickerApply
						>
							Apply
						</button>
					</mat-date-range-picker-actions>
				</mat-date-range-picker>

				<mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
					>Invalid start date</mat-error
				>
				<mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
					>Invalid end date</mat-error
				>
			</mat-form-field>
			<div matTooltip="{{ csvCheck ? '' : dateRangeTooltip }}">
				<button
					i18n="@@button_downloadCSV"
					mat-stroked-button
					color="accent"
					[disabled]="!count || !csvCheck"
					[ngClass]="{ 'background-grey': !count || !csvCheck }"
					(click)="saveCsv()"
					id="receivedDownloadCsv"
				>
					Download CSV
					<!-- <img
							height="16px"
							src="https://res.cloudinary.com/whydonate/image/upload/v1667503294/whydonate-production/platform/svg-icons/save.svg"
						/> -->
					<mat-icon *ngIf="csvLoading" class="m-l-xs">
						<mat-spinner color="accent" diameter="20"> </mat-spinner>
					</mat-icon>
				</button>
			</div>
		</div>
	</div>

	<!-- when isLoading is true -->
	<ng-container
		[ngTemplateOutlet]="progressBar"
		*ngIf="isLoading"
	></ng-container>

	<div *ngIf="this.check; else receivedTable">
		<mat-card class="mat-elevation-z0" fxFlex="100%">
			<div fxLayout="column">
				<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
					<div ngClass="p-t-xxl p-b-xxl">
						<img
							src="https://res.cloudinary.com/whydonate/image/upload/v1688670344/whydonate-production/platform/svg-icons/balanceNoData.svg"
						/>
					</div>
					<div>
						<mat-label
							class="mat-title m-0"
							i18n="@@donationSummary_donation_noRecordsTitle"
							>No data <br />to show</mat-label
						>
					</div>
				</div>
			</div>
		</mat-card>
	</div>
	<ng-template #receivedTable>
		<div class="table-container">
			<!-- <table
			fxFlex
			mat-table
			[dataSource]="dataSource"
			class="mat-elevation-z1"
			matTableExporter
			#exporter="matTableExporter"
		> -->
			<table
				fxFlex
				mat-table
				[dataSource]="dataSource"
				class="mat-elevation-z1"
			>
				<!-- Date Column -->
				<ng-container matColumnDef="date">
					<th
						mat-header-cell
						*matHeaderCellDef
						i18n="@@donationSummary_received_donation_header_date"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : 'min-w-100px'"
					>
						Date
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : 'min-w-100px'"
					>
						{{ element.date | date : 'dd-MM-YYYY' }}
					</td>
				</ng-container>

				<!-- Name Column -->
				<!-- <ng-container matColumnDef="donor_name">
				<th
					mat-header-cell
					*matHeaderCellDef
					i18n="@@donationSummary_received_donation_header_name"
					[ngClass]="dataSource.data.length ? 'min-w-100px' : 'min-w-100px'"
				>
					Name
				</th>
				<td
					mat-cell
					*matCellDef="let element"
					[ngClass]="dataSource.data.length ? 'min-w-100px' : ''"
				>
					<ng-container *ngIf="!element.isAnonymous">{{
						element.donorName
					}}</ng-container>
					<ng-container
						*ngIf="element.isAnonymous"
						i18n="@@donationSummary_received_donation_AnonymousText"
						>Anonymous
					</ng-container>
				</td>
			</ng-container> -->

				<!-- Fundraiser Name Column -->
				<ng-container matColumnDef="fundraiser_name">
					<th
						mat-header-cell
						*matHeaderCellDef
						i18n="@@donationSummary_received_donation_header_fundraiserName"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : 'min-w-100px'"
					>
						Fundraiser Name
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : ''"
					>
						<!-- {{ element.fundraiserName }} -->
						{{
							element.fundraiserName.length > 21
								? element.fundraiserName.slice(0, 21).concat('...')
								: element.fundraiserName
						}}
					</td>
				</ng-container>

				<!-- Status Column -->
				<!-- <ng-container matColumnDef="status">
				<th
					mat-header-cell
					*matHeaderCellDef
					i18n="@@donationSummary_received_donation_header_status"
					[ngClass]="dataSource.data.length ? 'min-w-100px' : 'min-w-100px'"
				>
					Status
				</th>
				<td
					mat-cell
					*matCellDef="let element"
					[ngClass]="dataSource.data.length ? 'min-w-100px' : ''"
				>
					{{ element.status }}
				</td>
			</ng-container> -->

				<!-- Amount Column -->
				<ng-container matColumnDef="amount">
					<th
						mat-header-cell
						*matHeaderCellDef
						i18n="@@donationSummary_received_donation_header_amount"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : 'min-w-100px'"
					>
						Amount
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : ''"
					>
						{{element.symbol}} {{ element.amount | number }}
					</td>
				</ng-container>

				<!-- Language Column -->
				<ng-container matColumnDef="language">
					<th
						mat-header-cell
						*matHeaderCellDef
						[ngClass]="dataSource.data.length ? 'min-w-70px' : 'min-w-70px'"
					>
						<div fxLayoutAlign="start center">
							<div>
								<span i18n="@@donationSummary_received_donation_header_language"
									>Language</span
								>
							</div>
							<div>
								<img
									style="position: relative; height: 14px; left: 2px; top: 3px"
									src="https://res.cloudinary.com/whydonate/image/upload/v1676554352/whydonate-production/platform/svg-icons/infoGray.svg"
									matTooltip="{{ this.languageCodeTooltip }}"
								/>
							</div>
						</div>
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						[ngClass]="dataSource.data.length ? 'min-w-70px' : ''"
					>
						<img
							style="position: relative; height: 16px; top: 3px"
							src="{{ languageIconPath + element.language_code + '.png' }}"
							alt="{{ element.language_code }}"
						/>
						{{ element.language_code | uppercase }}
					</td>
				</ng-container>

				<!-- Trnasaction id -->
				<ng-container matColumnDef="transaction">
					<th
						mat-header-cell
						*matHeaderCellDef
						i18n="@@donationSummary_received_donation_header_trans_id"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : 'min-w-100px'"
					>
						Trans ID
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : ''"
					>
						{{ element.transaction_id.slice(4) }}
					</td>
				</ng-container>

				<!-- Details Column -->
				<ng-container matColumnDef="donor">
					<th
						mat-header-cell
						*matHeaderCellDef
						[ngStyle]="{ 'max-width': '250px' }"
						[ngClass]="dataSource.data.length ? 'min-w-100px' : 'min-w-100px'"
					>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
							i18n="@@donationSummary_donation_header_donor"
							>Donor</span
						>
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						[ngStyle]="{ 'max-width': '250px' }"
					>
						<ng-container>
							<mat-accordion>
								<mat-expansion-panel
									class="mat-elevation-z0"
									[hideToggle]="element.isAnonymous"
									[disabled]="element.isAnonymous"
								>
									<mat-expansion-panel-header
										class="donor_details_cell--padding"
									>
										<mat-panel-title>
											<span
												*ngIf="element.isAnonymous"
												i18n="@@donationSummary_received_donation_AnonymousText"
												>Anonymous</span
											>
											<div *ngIf="!element.isAnonymous">
												{{ element.donorName }}
											</div>
										</mat-panel-title>
									</mat-expansion-panel-header>
									<div>
										<div *ngIf="element.receiptName">
											{{ element.receiptName }}
										</div>
										<div>
											<span *ngIf="!element.isAnonymous">
												{{ element.donorEmail }}
											</span>
										</div>
										<div *ngIf="element.address">{{ element.address }}</div>
										<div>
											<span *ngIf="element.city">{{ element.city }}, </span>
											<span *ngIf="element.zipcode">{{ element.zipcode }}</span>
										</div>
										<div *ngIf="element.country">{{ element.country }}</div>
									</div>
								</mat-expansion-panel>
							</mat-accordion>
						</ng-container>
					</td>
				</ng-container>

				<!-- Action Column -->
				<ng-container matColumnDef="action">
					<th
						mat-header-cell
						*matHeaderCellDef
						i18n="@@donationSummary_received_donation_header_action"
					>
						Action
					</th>
					<td mat-cell *matCellDef="let element; let i = index">
						<div fxLayoutAlign="start center">
							<span>
								<button mat-icon-button>
									<img
										*ngIf="element.donorReply == ' '"
										(click)="openDialog(element)"
										src="https://res.cloudinary.com/whydonate/image/upload/v1667505745/whydonate-production/platform/svg-icons/sms.svg"
									/>
									<img
										*ngIf="element.donorReply !== ' '"
										(click)="openDialog(element)"
										class="message_style"
										src="https://res.cloudinary.com/whydonate/image/upload/v1672922627/whydonate-production/platform/svg-icons/smsPrimary.svg"
									/>
								</button>
							</span>
							<span>
								<button
									[disabled]="element.isAnonymous"
									mat-icon-button
									(click)="downloadReceipt(element.transaction_id)"
								>
									<mat-icon>save_alt</mat-icon>
								</button>
							</span>
						</div>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

				<!-- Row shown when there is no matching data. -->
				<!-- <tr class="mat-row" *matNoDataRow>
					<td class="mat-cell" colspan="7">
						<div
							*ngIf="!this.check"
							class="p-t-xl p-b-xl"
							fxLayout="row"
							fxLayoutAlign="center center"
						>
							<div>
								<img
									src="https://res.cloudinary.com/whydonate/image/upload/v1688670344/whydonate-production/platform/svg-icons/balanceNoData.svg"
								/>
							</div>
							<div ngClass="p-l-m">
								<mat-label
									class="mat-title m-0"
									i18n="@@donationSummary_donation_noRecordsTitle"
									>No data <br />to show</mat-label
								>
							</div>
						</div>
						<div
							*ngIf="this.check"
							class="p-t-xl p-b-xl"
							fxLayout="row"
							fxLayoutAlign="center center"
						>
							<div>
								<img
									src="https://res.cloudinary.com/whydonate/image/upload/v1688670344/whydonate-production/platform/svg-icons/balanceNoData.svg"
								/>
							</div>
							<div ngClass="p-l-m">
								<mat-label
									class="mat-title m-0"
									i18n="@@donationSummary_donation_noRecordsTitle"
									>No data <br />to show</mat-label
								>
							</div>
						</div>
					</td>
				</tr> -->
			</table>
		</div>
	</ng-template>
	<!-- when isLoading is true -->
	<ng-container
		[ngTemplateOutlet]="progressBar"
		*ngIf="isPaginatorLoading"
	></ng-container>
	<!-- Paginator -->
	<mat-paginator
		[disabled]="isPaginatorLoading"
		[pageSizeOptions]="[20]"
		[pageSize]="20"
		[length]="count"
		(page)="changePage($event)"
	>
	</mat-paginator>
</div>

<!-- Progress bar template -->
<ng-template #progressBar>
	<mat-progress-bar
		[mode]="progressBarMode"
		[value]="progressbarValue"
		(animationEnd)="progressAnimationEnd($event)"
	>
	</mat-progress-bar>
</ng-template>
